AWS_ACCESS_KEY_ID=aaaaaaaaaaaaaaaaaaaa
AWS_SECRET_ACCESS_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
BUCKET=somebucket
SKEMA_RS_URL=http://skema-rs.staging.terarium.ai
TA1_UNIFIED_URL=https://api.askem.lum.ai
MIT_TR_URL=http://3.83.68.208
